@charset "UTF-8";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2rem;
  margin-bottom: 1rem;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
}

.heading-secondary {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-secondary::after {
  content: "";
  display: block;
  width: 15rem;
  height: .4rem;
  background-color: #ffb900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: .5rem;
}

.heading-tertiary {
  color: #777;
  font-size: 2rem;
  font-weight: 700;
}

.u-center {
  text-align: center !important;
}

.u-mb-small {
  margin-bottom: 2rem !important;
}

.u-mb-medium {
  margin-bottom: 4rem !important;
}

.u-mb-big {
  margin-bottom: 8rem !important;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.3rem 4rem;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  min-width: 15rem;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background-color: #28b485;
}

.btn:not(:last-child) {
  margin-right: 4rem;
}

.btn--primary {
  border: 1px solid transparent;
  color: #f7f7f7;
  background-color: #55c57a;
}

.btn--transparent {
  color: #f7f7f7;
  border: 1px solid #55c57a;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--transparent:hover {
  background-color: #55c57a;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection__item {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  margin: 1.5rem 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
}

.collection__img {
  width: 100%;
  border-bottom: 5px solid #ffb900;
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 20rem;
}

.collection__rating {
  position: absolute;
  padding: 1rem 2rem;
  right: -2px;
  top: -2px;
  background-color: #ff7730;
  color: #fff;
  border-radius: 3px;
  font-size: 1.6rem;
}

.collection__description {
  text-align: center;
  padding: 0 2rem;
}

.collection__description > * {
  margin-bottom: .5rem;
}

.collection__name {
  font-weight: 700;
  font-size: 2rem;
  color: #000;
}

.collection__address {
  font-size: 1.4rem;
}

.collection__tag {
  font-size: 1.4rem;
}

.collection__item:hover .collection__img {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  padding: 5rem 5rem;
}

#insert-form {
  width: 40%;
}

#review-form {
  width: 40%;
}

.form {
  z-index: 2;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  padding: 5rem;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all .4s .2s;
  transition: all .4s .2s;
}

.form__group {
  display: block;
  margin-top: 2rem;
}

.form__label {
  display: block;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
}

.form__field {
  display: block;
  height: 3rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 0 .5rem;
}

.form__field:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form__field:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__field::-webkit-input-placeholder {
  color: #999;
}

.form__submit {
  width: 100%;
  background-color: #55c57a;
  padding: 1rem 0;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form__submit:hover {
  background-color: #28b485;
}

.show-form {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.custom-select {
  position: relative;
  display: block;
  max-width: 420px;
  min-width: 420px;
  height: 3rem;
  margin: 0 auto;
  border: 1px solid #3C1C78;
  z-index: 10;
}

.custom-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 14px;
  color: #714BB9;
}

.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: "\2228";
  text-align: center;
  color: #714BB9;
  font-size: 24px;
  border-left: 1px solid #3C1C78;
  z-index: -1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popup__background {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100vh;
}

.show {
  visibility: visible;
  opacity: 1;
}

.err-message {
  border: 0px;
  width: 100%;
  height: 20px;
  font-size: 12px;
  color: white;
  background-color: #f24343;
}

.success-message {
  border: 0px;
  width: 100%;
  height: 20px;
  color: white;
  background-color: #52f26a;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 1px solid #00B4CC;
  padding: 5px;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/

.wrap {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#map {
  width: 500px;
  height: 200px;
}

.pagination-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 30px;
  height: 30px;
}

.right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 30px;
  height: 30px;
}

.header {
  height: 100vh;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/../img/background.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/../img/background.jpeg");
  position: relative;
}

.header__text-box {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.navigation {
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.navigation__left,
.navigation__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  color: #f7f7f7;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.navigation__link:hover {
  color: #999;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.footer {
  padding: 3.5rem 0;
  background-color: #333;
  font-size: 1.4rem;
  position: relative;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__link {
  text-decoration: none;
  color: #f7f7f7;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-left: 6rem;
  letter-spacing: 2px;
  transition: all .2s;
}

.footer__link:hover {
  color: #55c57a;
}

.footer--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer--end {
  width: 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__media {
  text-decoration: none;
  color: #fff;
  margin-right: 6rem;
  font-size: 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__media:hover {
  color: #55c57a;
}

.review-block {
  overflow: auto;
  text-align: left;
  font-size: 12px;
  color: black;
  height: 400px;
}

.section-food {
  padding: 10rem 0;
}

.section-store {
  padding: 0 0 10rem 0;
}

